<!-- <h3 id="dolor-sit-amet">Dolor sit amet?</h3> -->
<p> <a href="https://wiki.documentfoundation.org/Hackfest/Hamburg2018">The LibreOffice Hackfest Hamburg 2018</a> was a very friendly event, a gathering of LibreOffice contributors who came along to work together and discuss on the plans of the community. The hackfest was held on 7th and 8th of April 2018, in the amazing city of Hamburg.</p>
<!-- <h3 id="aliquam-suscipit">Aliquam suscipit.</h3> -->
<p>I signed up to join the community meetups, where we discussed on different topics related to the future plans of the community. For our first group meeting we gathered at the balcony of the building, which the sunny day in Hamburg, made it even nicer. We started by making a short introduction with one another and then went ahead with different topics as well as sharing our experiences. People were really curios about the fact that Open Labs has a very diverse community, since most of our contributors are girls, as well as the fact that most of us are quite more young then people from other communities. Actually this is a question we often get, which we try to explain with the way how the educational system in Albania works, but also the fact that Open Labs now has been transformed in an environment where girls don not feel intimidated to be part of. I also shared some thoughts on the next edition of the LibreOffice conference, which this year we are organizing in Tirana.</p>

<p><a href="https://twitter.com/lothar_becker">Lothar Becker</a> was very nice to explain to me how the certification process in LibreOffice works. He had been part of the certification committee for some times and carefully explained to me all the steps one needs to follow to get certified.</p>

<p>In the afternoon we went for a short city tour and visited the famous <a href="https://en.wikipedia.org/wiki/St._Pauli">St. Pauli area</a>, the place where The Beatles used to live, and also saw the <a href="https://en.wikipedia.org/wiki/Star-Club">Star-Club</a> where they played before becoming famous. We took one of the city boats to visit the other part of the area and had e beer with the group.</p>

<p>After getting back to the <a href="https://freiheit.com/en/">Freiheit building</a>, where the hackathon was taking place, the rest of the event was friendly, with peer to peer discussions and people getting to know each other. I had a cool and funny pool lesson by Mike. He gave me some tips which afterwards I could practice later on the game. Being the first time playing, I’m gonna admit I lost…not that proudly 😀</p>

<p>The event was really great and now I’m looking forward to meeting everyone again for the LibreOffice Conference in Tirana.</p>